*{
    margin: 0;
    padding: 0;
}
.bulding{
    background-color: lightblue;
    width: 90%;
    margin-left: 70px;
}
h1{
    color: crimson;
    text-align: center;
    padding-top: 5px;
    margin: 15px;
}
